{% extends "slcpy/_base.html" %}
{% load staticfiles %}

<!--  -->
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/meetup.css' %}" />
{% endblock %}

<!--  -->
{% block body %}
<div class="meetup-page-header">
  <h2>
      Stay current by <a href="{{ slcpy_meetup_url_join }}">joining our Meetup group!</a>
  </h2>
</div>

<article class="meetup-events-list">
{% for ev in events %}
<div class="panel {{ ev.css_style }}">
  <div class="panel-heading">
    <h2><strong>{{ ev.status.capitalize }} Event :</strong> <a href="{{ ev.event_url }}">{{ ev.name }}</a></h2>
    <ul>
      <li><strong> When: {{ ev.timestamp | date:"l, F jS" }} at {{ next_event.timestamp | date:"g:i a" }} </strong></li>
      <li>
        <strong> Where: {{ ev.venue.name }} 
          <a href="{{ ev.venue.google_url }}">
            ({{ ev.venue.address_1 }})
          </a>
        </strong>
      </li>
    </ul>
  </div>
  <div class="panel-body">  
    {{ ev.description|safe }}                 
  </div>
</div>
</article>
{% endfor %}

{% endblock %}