{% load staticfiles %}
<header>
  <nav class="navbar navbar-default" role='navigation'>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
          <img src="{% static 'img/SLCPython-logo-70.png' %}" alt="SLCPython"/>
          <h1>SLCPython</h1>
        </a>
        <div class='navbar-toggle-container'>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"/>
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </div>       
      </div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a class="page-link" {% if location == 'home' %}class="active" {% endif %}class="active" href="/">
            Home<span class="sr-only">(current)</span>
            <!-- <i class='fa fa-home'></i> -->
          </a>
        </li>  
        <li>
          <a class="page-link" {% if location == 'events' %}class="active" {% endif %}href="/events/">Events</a>
          <!-- <i class="fa fa-calendar"></i> -->
        </li>
        <li>
          <a class="page-link" {% if location == 'join' %}class="active" {% endif %}href="{{ slcpy_meetup_url_join }}">
            Join our Meetup!
            <!-- <i class="fa  fa-hand-o-left"></i> -->
          </a>
        </li>          
      </ul>
    </nav>          
  </div>
</header>