{% extends "slcpy/_base.html" %}
{% load staticfiles %}

{% block body %}
<!-- - - - - - - - - - -  Jumbotron - - - - - - - - - - - - -->
<div class="jumbotron">
  <section>
    <h1> Salt Lake City Python Developers </h1>
    {% block jumbotron-home %}
    {% endblock %}
  </section>
</div>

<!-- - - - - - - - - - -  About us - - - - - - - - - - - - -->
<section class="main-page" id="#about-us">    
  <h3> About Us </h3> 
  <p>
    A Sugar House-based python web developer meetup. We are interested in promoting  python development, but also welcome wisdom found in other programming languages. Avid and aspiring programmers alike are welcome to join us. 
  </p>
  <p>
    We alternate our meeting between the first Wednesday and the first Thursday of the month at Zaniac Sugar House (the old Sugar House coffee location; the big purple building).
  </p>
  <p>
    For current news follow us using <a href="{{ slcpy_meetup_url_join }}">Meetup.com</a>
  </p>        
</section>

<!-- - - - - - - - - - - Resources - - - - - - - - - - - - -->
<section class="main-page resources">    
  <h3> Group Resources </h3> 
  <ul>
    <li>
      <a href="{{ slcpy_meetup_url_join }}">SLCPython Meetup</a>
    </li>
    <li>
      <a href="https://github.com/SLCPython">SLCPython Github</a>
    </li>    
  </ul>       
</section>    
 
<!-- - - - - - - - - - -  Sponsors - - - - - - - - - - - - -->   
<section class="main-page" id="#sponsors">
  <h3> Primary Sponsors </h3>
  
  <div class="sponsor">
    <a href="https://www.zaniaclearning.com/">
      <img class="sponsor" src="{% static 'img/sponsors/zaniac-500x200.png' %}" alt="Zaniac"/>            
    </a>      
  </div>

  <div class="sponsor">
    <a href="http://www.teksystems.com/">
      <img class="sponsor"  src="{% static 'img/sponsors/TEK Systems-517x167.png' %}" alt="TEKSystems"/>            
    </a>      
  </div>

  <div class="sponsor">
    <a href="http://neutroninteractive.com/">
      <img class="sponsor" src="{% static 'img/sponsors/Neutron-Interactive-625x292.jpg' %}" alt="Neutron Interactive"/>            
    </a>             
  </div>

  <div class="sponsor">
    <a href="https://www.bluehost.com/">
      <img class="sponsor" src="{% static 'img/sponsors/bluehost-624x165.png' %}" alt="BlueHost"/>            
    </a>             
  </div>


    <!-- TODO: add other sponsors -->
    <!-- TODO: add images for sponsors -->
</section>
{% endblock %}
