{% extends "slcpy/_base.html" %}
{% load staticfiles %}

{% block extra_css %}
{% endblock %}

{% block body %}
<div class="jumbotron">
  <section>
    <h1> Welcome to ... SLCPython </h1>
    <br>
    <img src="{% static 'img/SLCPython-logo-140.png' %}" alt="SLCPython"/>
  </section>
</div>

<section>    
    <h3> About Us </h3> 
    <p>
        We are a Salt Lake City based Python users group started January 2014. We meet monthly to discuss Python and network with other awesome pythonistas.     
    </p>
    <p>
        To stay up to speed, follow us on <a href="http://www.meetup.com/">Meetup</a>
    </p>        
</section>
    
<section>
    <h3> Primary Sponsors </h3>
    <ul id='sponsors-list'>
        <li>
            <a href="https://www.zaniaclearning.com/">Zaniac</a>        
        </li>
        <li>
            <a href="http://www.teksystems.com/">TEKSystems</a>
        </li>
        <!-- TODO: add other sponsors -->
        <!-- TODO: add images for sponsors -->
    </ul>
</section>
{% endblock %}
