{% extends "slcpy/index.html" %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/meetup.css' %}" />
{% endblock %}

{% block jumbotron-home %}
<section class="meetup-event">
    {% if not next_event %}
        <p>Currently no upcoming events<p>

    {% else %}    
        <h2><strong>Upcoming Event :</strong> <a href="{{ next_event.event_url }}">{{ next_event.name }}</a></h2>
        <ul>
            <li><strong> When: {{ next_event.view_when }} </strong></li>
            {% if next_venue %}
                <li><strong> Where: {{ next_venue.name }} <a href="{{ next_venue.google_url }}">({{ next_venue.view_location }})</a></strong></li>
            {% endif %}
        </ul>
        {{ next_event.description|safe }}                 
    {% endif %}
    </br>
    <p><small>
        Stay current by <a href="http://www.meetup.com/Salt-Lake-City-Python-Web-Developers/join/">joining our Meetup group!</a>
    </p></small>
</section>
{% endblock %}
context_dict = dict(next_group_event=next_group_event())