body {
  padding-top: 50px;
}

/* main */

.main-view {
  padding: 40px 15px;
  text-align: center;
}

.main-view section {
    text-align: left;
}

.main-view h3 {
  text-align: left;
}

.main-view .chat {
  border: 5px;
}

